.colVerRest{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tablaRestaurantes{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    text-align: center;
}
/*FILTROS BUSQUEDA*/
.filtrosBusqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}
